@font-face {
  font-family: 'AlibabaPuHuiTi-Bold';
  src: url('/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Bold/Alibaba-PuHuiTi-Bold.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTi-Heavy';
  src: url('/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Heavy/Alibaba-PuHuiTi-Heavy.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTi-Light';
  src: url('/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Light/Alibaba-PuHuiTi-Light.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTi-Medium';
  src: url('/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Medium/Alibaba-PuHuiTi-Medium.otf');
}
@font-face {
  font-family: 'AlibabaPuHuiTi-Regular';
  src: url('/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Regular/Alibaba-PuHuiTi-Regular.otf');
}
